h1 THUÊ SÁCH
form(action="/transactions/create" method="POST")
    p Chọn người thuê
        span &nbsp
        select(name="userId")
            each user in listUsers
                option=user.name
    p Chọn sách cần thuê
        span &nbsp
        select(name="bookId")
            each book in listBooks
                option=book.name
    button  Xác Nhận        
h1 LỊCH SỬ THUÊ SÁCH
table
    tr
        th Mã giao dịch
        th Người Thuê
        th Sách Thuê
        th Ngày Thuê
        th Giờ Thuê
        th Trạng Thái
        th Hoàn thành
    each transaction in transactions
        tr
            td=transaction.id
            td=transaction.userId
            td=transaction.bookId
            td=transaction.date
            td=transaction.time
            td=transaction.isCompleted
            td
                a(href="transactions/" + transaction.id + "/complete") Hoàn Thành
br
a(href="/") HOME PAGE 